@model Notown.Models.NotownViewModels.CreateInstrumentViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Instrument</h4>
        <hr />
        <text class="text-info">
            Hint: To select multiple Musicians for this instrument, hold down shift and left click the different
            musicians. Or, you can simply (only) choose "No Musician" for none to be added with this instrument!
        </text>
        <br /><br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Instrument.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Instrument.Name" class="form-control" />
                <span asp-validation-for="Instrument.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Instrument.Key" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Instrument.Key" class="form-control" />
                <span asp-validation-for="Instrument.Key" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Musician</label>
            <div class="col-md-10">
                <select asp-for="MusicianIDs" class="form-control" asp-items="ViewBag.MusicianID" multiple="multiple"></select>
                <span asp-validation-for="MusicianIDs" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

