@{
    ViewData["Title"] = "About Notown";
}
<h2>About Notown Records</h2>

<p>
    Notown Records has been around since 1961 when our first client, The Beach Boys, signed on to our business. Since then, 
    there have been numerous high-profile musicians who we have dealings with such as, Nine Inch Nails, Rammstein, Billy Joel, 
    Paramore, Brian Wilson, Dank Memes, David Bowie, Prince, Ray Charles, Lady Gaga, Taylor Swift, Katy Perry, and Bob Dylan among many others.
</p>

<p>
    We strive to provide the best experience for both musician and listener. Our goal is to bridge the divide and make music accessible 
    anyone and everyone!
</p>

<p>
    You can browse the list of our <a asp-area="" asp-controller="Musicians" asp-action="Index">artists</a> as well as any 
    <a asp-area="" asp-controller="Albums" asp-action="Index">albums</a> and 
    <a asp-area="" asp-controller="Songs" asp-action="Index">songs</a> they have produced while being part of our team.
</p>

<p>
    If you have any questions or concerns, feel free to <a asp-area="" asp-controller="Home" asp-action="Contact">contact us</a> anytime!
</p>